  <div class="main-area center-text" style="background-image:url(/assets/countdown-3-1600x900.jpg);">

    <div class="display-table">
      <div class="display-table-cell">
        <h1 class="title font-white"><b>School For Us</b></h1>
        <br>
        <br>

        <h2 class="title font-white"><b>Encore un peu de patience ...</b></h2>
        <p class="desc font-white">Notre site est en cours d élaboration, il sera disponible prochainement.</p>

        <a class="notify-btn" href="mailto: staumont.elodie@icloud.com"><b>Contactez nous</b></a>

        <ul class="social-btn font-white">

          <a class="fa fa-linkedin-square fa-3x" aria-hidden="true" href="https://fr.linkedin.com/in/elodie-staumont-983065166"></a>
        </ul><!-- social-btn -->

      </div><!-- display-table -->
    </div>
  </div>

