<!DOCTYPE html>
<html>
  <head>
    <title>ShoolForUs</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/assets/application.scss">
<link rel="stylesheet" href="/assets/responsive.css">
<link rel="stylesheet" href="/assets/styles.css">

    <script src="/assets/application.js"></script>
    <script src="/assets/cable.js"></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
